{
  "presets":[
    "@babel/preset-env"
  ],
  "sourceType": "unambiguous",
  "plugins":[
    [
      "@babel/plugin-transform-runtime",{
      "absoluteRuntime":false,
      "corejs":3,
      "helpers":true,
      "regenerator":true,
      "useESModules":false
    }
  ]
  ]
}