<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="render" content="webkit">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-control" content="no-cache">
	<meta http-equiv="Cache" content="no-cache">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalabel=0">
	<link rel="stylesheet" href="./assets/css/microdone-h5.css">
	<title>密码键盘</title>
</head>
<body>
<div id="app">
	<!-- <div class="loading-content" style="position: fixed;left: 0;top: 0;right: 0;bottom: 0;text-align: center"> -->
	<!-- <div class="loading-content">
		<img style="position: fixed;top: 50%;left: 50%;width: 40px;height: 40px;margin-top: -20px;margin-left: -20px;"
		  src="./assets/images/Loading.gif" alt="">
	</div> -->
</div>
<script src="./assets/js/microdoneH5.js"></script>
</body>
</html>